@import 'src/assets/scss/variables';

header {
    .navbar {
        background: $azul-escuro;
        button {
            background-color: $azul-escuro;
            color: white;
        }
        h4{
            color: white;
        }
        ::ng-deep {
            .mat-drawer-content {
                overflow: hidden !important;
            }
            .mat-select-arrow {
                color: white !important;
            }
        }
    }
}
