@import 'src/assets/scss/variables';

header {
    .navbar {
        border-radius: 0.4rem 0.4rem 0 0;
        background: $azul-escuro;
        button {
            background-color: $azul-escuro;
            color: white;
        }
        h5{
            color: white;
            margin:auto;
        }
        ::ng-deep {
            .mat-drawer-content {
                overflow: hidden !important;
            }
        }
    }
}

::ng-deep .tamanho {
    max-width: 16rem !important;
    overflow: hidden !important;
}