.example-container {
    margin-top: 5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: blue;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 22px 20px;
  }