<header>
    <div class="text-center">
        <img width="100%" src="assets/img/cabecalho.png">
    </div>
    <mat-sidenav-container class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button mat-icon-button [matMenuTriggerFor]="menuPrincipal">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menuPrincipal="matMenu">
                        <onz-menu></onz-menu>
                    </mat-menu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right ">
                    <div class="row">
                        <div class="col text-right align-self-center">
                            <h5>{{usuario}}</h5>
                        </div>
                        <div class="d-flex">
                            <button mat-icon-button [matMenuTriggerFor]="menuUsuario">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menuUsuario="matMenu">
                                <button mat-menu-item *ngFor="let opcao of opcoes" [value]="opcao.chave">
                                    {{opcao.valor}}
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</header>
