<mat-card>
    <div class="row">
        <a [routerLink]="['cliente']">
            <img matTooltip=" Clientes" matTooltipPosition="right" class="icon" src="assets/icons/clientes.png">
        </a>
        <a href="http://www.google.com">
            <img matTooltip="Recursos" matTooltipPosition="right" class="icon" src="assets/icons/recursos.png">
        </a>
    </div>
    <div class="row">
        <a href="http://www.google.com">
            <img matTooltip="Perfis" matTooltipPosition="right" class="icon" src="assets/icons/perfis.png">
        </a>
        <a href="http://www.google.com">
            <img matTooltip="Projetos" matTooltipPosition="right" class="icon" src="assets/icons/projetos.png">
        </a>
    </div>
    <div class="row">
        <a href="http://www.google.com">
            <img matTooltip="Usuários" matTooltipPosition="right" class="icon" src="assets/icons/usuarios.png">
        </a>
        <a href="http://www.google.com">
            <img matTooltip="Funcionalidades" matTooltipPosition="right" class="icon" src="assets/icons/funcionalidades.png">
        </a>
    </div>
</mat-card>
