@import 'src/assets/scss/variables';
section {
    button {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $azul-escuro;
        color: white;
        margin: .5625rem;
    }
    
    button:hover {
        width: 4.375rem;
        height: 4.375rem;
        margin: 0 .4375rem .3125rem .4375rem;
        background-color: $azul-claro;
    }

    mat-icon {
        font-size: 33px;
        margin-right: .5rem;
    }
}