img.icon {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: 4px 5px 7px 0px;
    display: inline-block;
}

img.icon:hover {
    margin-left: 14px;
    margin-bottom: 14px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 4px 5px 7px 0px;
    display: inline-block;
}

mat-card {
    padding: 1rem 1rem 0 1rem;
    width: 12rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0px 9px 20px 0px #0D4F9B !important;
}