@import 'src/assets/scss/variables';

.mat-card-header{
    background-color: $azul-escuro;
    border-radius: .3rem;
    color: white;

    .mat-card-title{
        margin: .5rem !important;
    }

}
mat-expansion-panel-header{
    background-color:$azul-escuro;
    &:hover, &:focus{
        background-color:$azul-claro !important;
    }

    .mat-expansion-panel-header-title{
        color:white;
    }
}

mat-card{
    padding: 0 !important;
}
