<section class="estrutura-gestao">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <onz-cabecalho></onz-cabecalho>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <onz-menu></onz-menu>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</section>
