@import 'src/assets/scss/variables';

section.conteudo{
    header{
        background: linear-gradient(to bottom,$primaria-aux, $primaria);
        padding: 0.5rem;
        color:white;
        border-radius: 0 0 0.3rem 0.3rem;
        border-top-right-radius: 2.5rem;
        width: 100%;
        p.titulo{
            margin-top: auto;
            margin-bottom: auto;
            justify-content: center;
        }
    }

    .botoao-acoes ::ng-deep button{
        margin-right: .2rem;
        background-color: $primaria;
        color:white;
        border:none;
        border-radius: .3rem;
        border-bottom-left-radius: 2.7rem;
        padding: 0.4rem 1rem;
        height: 100%;

        &:hover, &:visited, &:active, &:focus{
            background-color:$azul-escuro;
        }

        &:last-child{
            margin-right: 0;
        }
    }

}
